@use "../utils/colors.scss";

.creavity {
    position: relative;
    height: 40vh;
    background-color:colors.$light-gray ;
    
    .box {
        height: 55%;
        width: 100%;
        position: absolute;
        bottom: 80%;
        transform: skewY(-4deg);
        background-color: colors.$light-gray ;
        @media(max-width:400px){
            position: absolute;
            bottom: 65%;
        }
    }
}